<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Remote JSONP datasource</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  
  <style>
  
  
  .ui-autocomplete-loading {
    background: white url("@routes.Assets.at("images/ui-anim_basic_16x16.gif")") right center no-repeat;
  }
  #city { width: 25em; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#city" ).autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url: "@routes.Application.getProductList()",
          dataType: "jsonp",
          data: {
            productCode: request.term
          },
          success: function( data ) {
          console.log(data);
 			response($.map(data, function (item) {
            return {
                label: item.productName,
                value: item.id
            };
          }))
          }
        } );
      },
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item );
      }
    } );
  } );
  </script>
</head>
<body>
 
<div class="ui-widget">
  <label for="city">Your city: </label>
  <input id="city" type="text">
  Powered by <a href="http://geobytes.com">geobytes.com</a>
</div>
 
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>
 
 
</body>
</html>